@import url('http://fonts.cdnfonts.com/css/calibre');
@import url('http://fonts.cdnfonts.com/css/goudy-old-style');


@font-face {
  font-family: 'Goudy Old Style';
  font-style: normal;
  font-weight: 400;
  src: local('Goudy Old Style'), url('https://fonts.cdnfonts.com/s/14850/GOUDOS.woff') format('woff');
}

:root {
  --primary: #212322;
  --secondary: #EDEDED;
  --white: #FFFFFF;
  --black: #000000;

  --dark-gray: #6D6D6D;

  --tittle-size: 24px;

  --primary-font: 'Calibre', sans-serif !important;
  --secondary-font: 'Goudy Old Style', sans-serif !important;
  --primary-bg-color: #ededed;
  --secondary-bg-color: #0b182e;
}

a {
  color: var(--black);
  text-decoration: none;
}

header.header .head-links li .add-to-basket .dropdown-menu .pro-name-cont {
  min-height: fit-content;
}

header.header .head-links li .add-to-basket .dropdown-menu .btn {

  margin-top: 10px;
  background: var(--black);
  color: var(--white);
}

.arrow-breadcrumbs li.processed a {
  color: black !important;
  text-decoration: none;
}

.radio-container .checkmark,
.checkmark {
  background-color: var(--white);
  border: 1px solid var(--black) !important;
}

.delivery-methods-cont .vendor-cards-holder .card .radio-container input:checked~.checkmark {
  background-color: var(--black) !important;
}

/* === HEADER ==============================  */

.header.header {
  margin-bottom: 0;
  border-bottom: none;
  padding-top: 0px;
}

.header.header .container-fluid {
  margin-bottom: 9px;
}

header.header .menu-holder>li>div {
  border: none;
  opacity: 0;
  border-radius: none;
  transition: all .3s ease .15s;

}

header.header .menu-holder li a {
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  padding: 0.375rem 0.625rem 0.438rem;
  /* font-family: var(--primary-font); */
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--black);
}

.nav.head-links.pb-2 {
  padding-bottom: 0px !important;
}

/* input nav btn  */
header.header .search .search-item-form button {
  background-color: var(--primary);
  padding: 8.5px 14px;
  padding-top: 0.15rem;
  padding-bottom: 0;
}

header.header .search .search-item-form button img {
  width: 23.5px;
}

header.header .search .search-item-form .nav-search-field::placeholder {
  font-style: normal;
  display: none;
  opacity: 0;
}

/* NAV HOLDER */
header.header .menu-holder {
  padding: 18px 0px 6px;
}

header.header .menu-holder>li {
  margin-right: 77px;
}

/* === HERO SEC ====================  */
.home-banner .banner-heading>div {
  color: var(--white);
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;

}

.home-banner .banner-heading {
  font-family: var(--secondary-font);
  max-width: 545px;
  margin: auto;
}


/* SECTIONS TITTLE  */
.section-title {
  margin: 38px 0 0;
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--black);
}



/* HOME SELIDER  */
.home-slider.bestsellers-slider .owl-item.active {
  margin-right: 17.5px !important;
  min-width: 300px;
  max-width: 100%;
}

.home-slider .post-tile h2.post-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.01em;
  width: 100%;
  word-wrap: break-word;
  margin: 15px auto 0;
  display: block;
  color: var(--black);
}

.home-slider .carousel-container {
  padding: 1.4rem 0px 50px !important;
}

.home-slider.estsellers-slider {
  margin-bottom: 0px !important;
}

.home-banner .banner-heading>div:last-child {
  color: var(--white);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px !important;
  line-height: 22px !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 24px;
}

/* === product slides  */
/* 
.home-slider .container.custom-container {
    padding-left: 45px !important;
}
.home-slider.bestsellers-slider.mb-lg-2 .container custom-container {
    padding-left: 0px !important;
} */

.bestsellers-slider~.home-slider {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.bestsellers-slider~.home-slider .post-tile h2.post-link {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: start !important;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
  font-family: var(--secondary-font);
  padding-left: 16px;
}

.bestsellers-slider~.home-slider .post-tile .post-tile-link:hover .post-link {
  color: var(--white);
}

.bestsellers-slider~.home-slider .owl-item.active {
  max-width: 250px;
  margin-right: 80px !important;
}

.bestsellers-slider~.home-slider .owl-item.active:last-child {
  margin-right: 0px !important;
}

/* .bestsellers-slider ~ .home-slider .owl-carousel.owl-theme .owl-stage{ 
    justify-content: space-between;
} */
.bestsellers-slider~.home-slider .carousel-container {
  padding: 1.8rem 0px 50px !important;
}


/* === sign-up ======  */
.sign-up-section {
  padding: 33px 10px;
  padding-bottom: 38px;
}

.sign-up-section .sign-up-container h2 {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.01em;
  color: #6D6D6D;
}

.sign-up-section .sign-up-container .signup-text p {
  background: transparent !important;
  text-align: center;
  color: #6D6D6D;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 21px;
}

.sign-up-section .sign-up-container .signup-text {
  width: max-content;
}

/* input max  */
.sign-up-section .sign-up-container .sign-up-form {
  margin: auto;
  margin-bottom: 0;
  max-width: 562px;
}

.sign-up-section .sign-up-container .sign-up-form div {
  height: 100%;
}

.sign-up-section .sign-up-container .sign-up-form input[type="email"] {
  width: 100%;
  margin: 0 !important;
  text-align: start;
  padding: 1.65rem 0.75rem;

}

.sign-up-section .sign-up-container .sign-up-form input[type="email"]::placeholder {
  opacity: 0;
}

.sign-up-section .sign-up-container .sign-up-form .submit {

  background: var(--black);
  width: 180px;
  padding: 18px 64px !important;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: var(--white);
  margin: 0;
  height: 100%;
}

/* none featured-client */
.featured-client {
  display: none;
}


/* === footer ===========  */
.footer {
  margin-top: 0px !important;
  padding: 28px 0px;
}

.footer .container.custom-container {
  padding: 0px 32px;
}

.footer .footer-widget .widget-title {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #6D6D6D !important;
}

.footer .footer-widget .widget-content {
  padding-top: 16px;
}

.footer .footer-widget .widget-content li {
  margin-bottom: 16px;
}

.footer .footer-widget .widget-content li a {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px !important;
  color: var(--black);
}


.footer .footer-widget .widget-content .social-links li {
  margin: 0 30px 1rem 0;
  width: 22px;
}


header.header .logo img {
  object-fit: contain;
}

.powered-by {
  position: absolute;
  right: 0px;
}

.powered-by {
  text-align: end !important;
}

.powered-by>div {
  display: none !important;
}

.powered-by .powered-link-cont {
  display: block !important;
  margin-left: auto;
}

.powered-by .powered-link-cont span {
  font-size: 16px;
  color: var(--black);
  font-family: var(--primary-font);
}

.powered-by .powered-link-cont a {
  font-size: 18px;
  color: var(--black);
  text-decoration: none;
  font-family: var(--primary-font);
  font-weight: 500;
}

.copyright-cont .col-12 {
  padding: 0 !important;
}

.footer .copyright-cont .pay-methods-avail .meth-link {
  width: 55px;
  margin-right: 15.5px;
}

.footer .copyright-cont .pay-methods-avail .meth-link img {
  width: 100%;
}

.footer .container.custom-container .col-lg-12.p-0 {
  justify-content: flex-start !important;
}

.footer .container.custom-container .col-lg-12.p-0 .footer-widget:first-child {
  margin-right: 105px;
}

.footer .container.custom-container .col-lg-12.p-0 .footer-widget:last-child {
  margin-left: auto;
}

.footer .container.custom-container .col-lg-12.p-0 .footer-widget li a {
  text-decoration: none;
}

.products-container .products-holder-main .products-holder {
  padding-top: 0 !important;
}

.product-container .row.mb-3.d-none.d-lg-flex {
  margin-bottom: 0px !important;
}

.products-container .products-holder-main {
  padding-top: 5px !important;
}

.main-sidebar {
  padding-top: 29px !important;
}

.sidebar-widget .list-group {
  margin-top: 15px;
}

/* ====== NEXT PAGE Category / Gifts Page === */
.container.product-container {
  padding-top: 24px;
  padding-right: 40px;
  padding-left: 32px;
}

.container.product-container * a {
  text-decoration: none;
}

.default-breadcrumb .breadcrumb-item,
.default-breadcrumb .breadcrumb-item a {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--black)
}

.default-breadcrumb li.breadcrumb-item+.breadcrumb-item::before {
  padding-right: 3px;
  padding-left: 0;
  font-family: var(--primary-font);
  font-size: 15px;
  color: var(--black);
}

.breadcrumb-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: var(--primary-font);
  color: var(--black);
}

.default-breadcrumb {
  margin: 0 0 12px;
}

.product-select .form-group.sort-cont label {
  max-width: 69px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  font-family: var(--primary-font);
  color: var(--black);
}

.select-form .form-group select.form-control {
  border-radius: 0;
  border: none;
  -webkit-appearance: none;
  background: url(../images/dropdown.svg) #F0F0F0;
  ;
  background-repeat: no-repeat;
  background-position: 98% 50%;
  min-width: 183.25px !important;
}

.sidebar-widget .result-text p {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.01em;
  font-family: var(--primary-font);
  color: var(--black);
}

.list-group-holder h4 {
  font-family: var(--primary-font);
  color: var(--black);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.products-container .products-holder-main .products-holder .product-column {
  width: 288px;
  margin: 0 8px;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-image a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-content .d-flex {
  flex-direction: row-reverse;
  justify-content: start;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
  width: fit-content;
  margin-right: 18px;

}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title .product-name {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  font-family: var(--primary-font);
  color: var(--black);
  font-weight: 600;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: var(--primary-font);
  color: #6D6D6D !important;
  padding-left: 38px;
  text-transform: uppercase;
}

.variants-cont.w-100 {
  height: 0px !important;
}


/* FIXES  */
.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title a {
  margin-bottom: 0px;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title {
  margin-bottom: 0px !important;
}

.products-container .products-holder-main .products-holder .product-column .product-list .product-image {
  margin-bottom: 3px !important;
}

.product-select .form-group {
  width: max-content;
}

.main-sidebar {
  min-width: 254px;
}

.products-container .products-holder-main .products-holder {
  justify-content: end;
}

.product-select {
  margin-right: 0;
}




.fake_div {
  width: 315px !important;
}


/* NEXT PAGE PRODUCT ITEM  */

.product-detail-container {
  padding-top: 28px;
}

.product-detail-container .default-breadcrumb .breadcrumb-item a,
.product-detail-container .default-breadcrumb .breadcrumb-item {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6D6D6D;
}

.product-detail-container .product-holder .col-lg-7.d-none.d-lg-block {
  max-width: 593px;
  /* padding: 0 !important; */
}

.related-products .related-products-holder .rel-product-col {
  width: 288px;
  margin: 0 8px;
}

.related-products .related-products-holder .related-products-image img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.related-products .related-products-holder .related-products-image {
  /* margin-bottom: 0.55rem; */
  height: 288px;
}

.related-products {
  border-top: none;
  margin-bottom: 43px;

}

.related-products .related-products-holder .product-content .product-title a {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  font-family: var(--primary-font);
  color: var(--black);
  font-weight: 600;
  text-decoration: none;
}

.related-products .related-products-holder .product-content .product-pricing .more-items-product-prices {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: var(--primary-font);
  color: #6D6D6D !important;
  padding-left: 38px;
  text-transform: uppercase;
  text-decoration: none;

}

.related-products .related-products-holder .product-content .product-rating {
  width: fit-content;
  margin-right: 18px;
}

.related-products .related-products-holder .product-content .product-title {
  margin-bottom: 0px !important;
  text-decoration: none;
}

.related-products h3 {
  font-size: 1.25rem;
  line-height: 1;
  margin: 0 0 0px;
}

.product-holder.mb-5.pt-md-2.pb-5 {
  padding-bottom: 0px !important;
  margin-bottom: 40px !important;
}















@media (min-width:1400px) {
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    height: 315px;
    width: 315px;
  }

  .products-container .products-holder-main .products-holder .product-column {
    width: min-content;
    margin: 0 8px;
  }

  .rel-product-col {
    width: min-content;
    margin: 0 8px;
  }

  .w-xxl-100 {
    max-width: 100%;
  }
}

@media (max-width:1400px) {
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    height: 288px;
  }

  .fake_div {
    width: 288px !important;
  }
}

@media (max-width:1280px) {
  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    height: 255px;
  }

  .fake_div {
    width: 255px !important;
  }

  .products-container .products-holder-main .products-holder .product-column {
    width: 255px;
    margin: 0 8px;
  }

  .related-products .related-products-holder .rel-product-col {
    width: 255px;
  }

  .related-products .related-products-holder .related-products-image {
    height: 255px;
  }
}

@media (max-width:1160px) {
  .main-sidebar {
    min-width: 195px;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    height: 230px;
  }

  .products-container .products-holder-main .products-holder .product-column {
    width: 230px;
  }

  .related-products .related-products-holder .rel-product-col {
    width: 230px;
  }

  .fake_div {
    width: 230px !important;
  }

  .product-select .form-group.sort-cont {
    width: 65%;
  }
}


body[data-pagetype="product"] .product-detail-container {
  max-width: 1280px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: (--black);
}

.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
  color: (--black);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.375rem;
}

.product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating a.wishlistImage img {
  height: auto;
  width: 27px;
}

.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
  background-color: var(--white);
  border: none;
  border-radius: 0;
  padding: .5rem 0.625rem;
  border-bottom: 0.0625rem solid #d9d9d9;

}

.product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link.active {
  border-bottom: 0.0625rem solid #212322;
}

.product-detail-container .product-holder .product-order .nav-tabs {
  border: none;
}

.product-detail-container .product-holder .shipping {
  display: none;
}

.product-detail-container .product-holder .product-detail {
  height: fit-content;
}

.product-detail-container .product-holder .product-order .tab-content .tab-pane {
  padding: 10px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #6D6D6D;
  font-family: var(--secondary-font);
}

.product-detail-container .product-holder .product-order .tab-content .tab-pane .col-lg-10 {
  padding: 0px !important;
}

.product-detail-container .product-holder .product-order .tab-content .tab-pane .col-lg-2 {
  display: none;
}

/* .product-detail-container .product-holder .product-order .tab-content .tab-pane .col-lg-10 {
	flex: 0 0 100%;
	max-width: 100%;
} */
.product-detail-container .product-holder .product-order .tab-content {
  border: none;
}

.product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: var(--primary-font);
  color: var(--black);
}


.select-package {
  background: #FFFFFF;
  border: 1px solid #6D6D6D;
  box-shadow: 0px 0px 0px 2px #F5F9FE;
  border-radius: 2px;
  height: 54px !important;
  margin-bottom: 30px;
  margin-top: 10px;

}

.select-package *,
.select-package option {
  font-family: var(--primary-font) !important;
}

.select-package.form-control:focus {
  color: currentColor;
  background-color: var(--white);
  border-color: var(--primary);
  outline: 0;
  box-shadow: none;
}


.product-detail-container #item-quantity {
  border: 1px solid #6D6D6D;
  border-radius: 3px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--black);
}

.product-detail-container #add-to-basket-btn {
  background: #212322;
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  font-family: var(--primary-font);
}

/* nav btns slider  */
.owl-nav button {
  padding: 11px 12px;
  width: 28.67px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-family: var(--primary-font);
  color: #6D6D6D;
  font-weight: 600;

}

.product-carousel-desktop .owl-nav .owl-prev,
.product-carousel-desktop .owl-nav .owl-next,
.product-carousel-desktop .owl-nav .owl-prev,
.product-carousel-desktop .owl-nav .owl-next {
  padding: 11px 12px !important;
  width: 28.67px !important;
  height: 30px !important;
  background: #FFFFFF !important;
  border: 1px solid #D9D9D9 !important;
  border-radius: 2px !important;
  font-family: var(--primary-font) !important;
  color: #6D6D6D !important;
  font-weight: 600 !important;
}

.product-carousel-desktop .owl-nav [class*="owl-"]:hover {
  color: #6D6D6D !important;
  background: white !important;
}

.product-detail-container .tab-content.preview-pic {
  height: fit-content;
}

.product-detail-container .preview-thumbnail {
  margin-top: 16px;
}

.product-detail-container .product-holder .share-link {
  display: none !important;
}

/* === CART PAGE ====================  */
.custom-container.cart-container {
  background: #FCFCFC;
  /* outline: 1px solid red; */
}

.custom-container.cart-container .breadcrumb-heading {
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 28px !important;
  letter-spacing: 0.01em;
  font-family: var(--secondary-font) !important;
  color: var(--black) !important;
}

.custom-container.cart-container .arrow-breadcrumbs li.active a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark-gray);
  font-family: var(--primary-font);
}

.arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
  padding-top: 2px;
}

.custom-container.cart-container .card.order-summary-cont {
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08) !important;
  border-radius: 8px !important;
  border: none;
  background: var(--white);
}

.custom-container.cart-container .breadcrumb-heading,
.custom-container.cart-container .order-sum-heading {
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 28px !important;
  letter-spacing: 0.01em !important;
  font-family: var(--secondary-font) !important;
  color: var(--black) !important;
}

.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner .total-label {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.01em;
  font-family: var(--secondary-font) !important;
  color: var(--black) !important;
}

.custom-container.cart-container .card-header .card-head-inner .cart-total.text-right.mt-1 {
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  text-align: right !important;
  font-family: var(--primary-font) !important;
  color: var(--black) !important;
}

.custom-container.cart-container .card.order-summary-cont .card-header .card-head-inner {
  border-bottom: 1px solid #D9D9D9 !important;
  font-weight: 500;
}

.custom-container.cart-container .card.order-summary-cont .card-body .card-body-inner {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: var(--primary-font) !important;
  color: #6D6D6D;
}

.custom-container.cart-container .cart-login-cont {
  background-color: #EDEDED !important;
}

.custom-container.cart-container .cart-login-cont .login-cart-panel .panel-note-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: var(--primary-font);
  color: #6D6D6D;
}

.custom-container.cart-container .cart-login-cont .panel-heading {
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  letter-spacing: -0.01em !important;
  font-family: var(--secondary-font);
  color: var(--black);
  text-align: start !important;
}

.custom-container.cart-container .cart-login-cont form input.form-control {
  border: 1px solid #D9D9D9 !important;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 4px;
  font-size: 16px !important;
  line-height: 19px !important;
  display: flex;
  font-family: var(--primary-font);
  color: #6D6D6D;
}

form.cart-login-form .forget-psw-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: var(--primary-font);
  color: var(--black);
  text-decoration: none;
}

form.cart-login-form .form-submit-cont {
  border-top: 1px solid #D9D9D9;
}

.custom-container.cart-container .cart-login-cont .btn.btn-primary {
  border-color: #212322;
  background: #212322 !important;
  border-radius: 3px;
  padding: 16px 24px;
  font-size: 14px;
  line-height: 16px;
  font-family: var(--primary-font);
  color: var(--white);

}

form.cart-login-form .form-submit-cont {
  border-bottom: none;
}

.panel-after-checkout {
  display: block;
}

.cart-login-cont .guest-form-cont {
  display: flex;
  flex-direction: column-reverse;
}

.cart-login-cont .guest-form-cont .panel-after-checkout {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: var(--primary-font);
  color: var(--black);
  text-align: center;
}

.custom-container.cart-container .card.order-summary-cont {
  max-width: 385px;
}

.custom-container.cart-container .vendor-items-cont .card {
  box-shadow: none !important;
  border-radius: none !important;
  border: none !important;
  margin-bottom: 2rem;
}

.custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading {
  font-family: var(--secondary-font) !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  letter-spacing: -0.01em;
  color: var(--black);
}

.custom-container.cart-container .vendor-heading .vendor-name {
  text-transform: capitalize !important;
}

.custom-container.cart-container .vendor-items-cont .card .card-header {
  border-bottom: 1px solid #D9D9D9 !important;
}

.vendor-items-holder .vendor-items .ng-star-inserted .item-image-cont {
  max-width: 161px;
  min-width: 160px;
  padding-right: 0 !important;
  margin-right: 12px !important;

}

.vendor-items-holder .vendor-items .ng-star-inserted .item-image-cont .item-img {
  margin-right: 0 !important;
}

.vendor-items-holder .vendor-items .gift-msg-area .gift-msg-cont {
  display: none !important;
}

.vendor-items-holder .vendor-items .gift-msg-area a span.underline {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: var(--primary-font) !important;
  color: var(--black);
}

.vendor-items-holder .vendor-items .gift-msg-area a,
.vendor-items-holder .vendor-items .gift-msg-area a:hover {
  text-decoration: none !important;
}

.custom-container.cart-container .cart-item.new .item-details .item-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.01em;
  font-family: var(--secondary-font) !important;
  color: var(--black);
}

.custom-container.cart-container .cart-item.new .mr-2.ng-tns-c6-0.ng-star-inserted {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: var(--primary-font) !important;
  color: var(--black);
  margin-right: 7px !important;
}

.vendor-items-holder .unit-price {
  font-weight: 400;
  font-size: 16px !important;
  line-height: 19px;
  font-family: var(--primary-font) !important;
  color: var(--black) !important;
}

.custom-container.cart-container {
  font-family: var(--primary-font);
}

.cart-item .item-details .col-label.mb-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: var(--primary-font);
  color: var(--black);
}

.cart-item.new .item-qty-cont {
  background: #FCFCFC;
  border: 1px solid #D9D9D9 !important;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 4px !important;
  font-weight: 500;
  width: 80px;
  height: 36px;
}

.cart-item.new .item-qty-cont .item-dec,
.cart-item.new .item-qty-cont .item-inc {
  background-color: var(--white) !important;
}

.custom-container.cart-container .vendor-items-cont .del-item-link.underline {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #6D6D6D;
}

.cart-item.new .item-details .unit-total-price {
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  color: var(--black);
  font-family: var(--primary-font);

}

.content__cart_bar {
  max-width: 648px;
}

.custom-container.cart-container .card {
  background-color: transparent !important;
}

.custom-container.cart-container .vendor-items-cont {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 6px;
  margin-top: 20px;

}

.custom-container.cart-container {
  padding-top: 27px !important;
}

.custom-container.cart-container .cart-item.new {
  font-size: 0.9375rem;
  line-height: 1.125rem;
  padding-bottom: 0rem;
}

.custom-container.cart-container .breadcrumb-heading {
  margin-bottom: 20px !important;
}

.cart-login-cont .guest-form-cont .panel-after-checkout {
  margin-top: 22px;
}

.custom-container.cart-container .cart-login-cont .checkout-desc-cont {
  margin-top: 3px !important;
}

.custom-container.cart-container .card.order-summary-cont .card-body .card-body-inner {
  margin-bottom: 16px !important;
}

.custom-container.cart-container .card.order-summary-cont .card-header {
  padding-bottom: 15px !important;
}

.custom-container.cart-container .cart-item .item-details {
  justify-content: space-between;
}

.col.px-0.product_item {
  min-width: 208px;
}

.d-none.d-lg-block.col.quantity_item {
  max-width: 110px;
}

.pr-0.col.subtotal_item {
  max-width: 160px;
}

/* .copyright-cont .pay-methods-avail.modified .meth-link,
.footer .container.custom-container .footer-widget,
.sign-up-section {
  display: none;
} */

/* Checkout PAGE  */
.custom-container.checkout .shipping-form-container .shipping-form .breadcrumb-heading {
  color: var(--black) !important;
  font-family: var(--secondary-font) !important;
  font-weight: normal;
  font-size: 1.5rem !important;
  line-height: 1.75rem !important;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

.custom-container.checkout .shipping-form-container .shipping-form .breadcrumb.arrow-breadcrumbs .breadcrumb-item a {
  color: #212322 !important;
  font-family: var(--primary-font) !important;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.custom-container.checkout .shipping-form-container .checkbox-cont .get-updates-note {
  color: #6D6D6D;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.custom-container.checkout .shipping-form-container .shipping-form .breadcrumb.arrow-breadcrumbs .breadcrumb-item a:not([href]):not([tabindex]) {
  color: rgb(109, 109, 109) !important;
  text-decoration: none;
}

.custom-container.checkout .shipping-form-container .checkbox-cont .checkmark {
  width: 21px;
  height: 21px;
  background-color: #fff;
  border: 1px solid #E6E8ED;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 0.25rem;
  margin-right: 0.75rem;
}

.custom-container.checkout .shipping-form-container .checkbox-cont .get-updates-note {
  color: #6D6D6D;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.125rem;
  font-family: var(--primary-font);
}

app-checkout {
  background-color: #fcfcfc;
  display: block;
}

.custom-container.checkout .shipping-form-container .form-control {
  background: #FFFFFF;
  border: 1px solid #D9D9D9 !important;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08) !important;
  border-radius: 4px !important;
  color: #6D6D6D;
  font-size: 1rem !important;
  font-weight: normal;
  line-height: 1.1875rem;
}

.custom-container.checkout .shipping-form-container .btn.btn-submit,
.custom-container.checkout .btn.btn-primary {
  color: #ffffff;
  background-color: var(--black);
  border-color: var(--black);
  border-radius: 3px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.custom-container.checkout .right-panel .card.order-summary-cont {
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 8px;
  background-color: var(--white);
  border: none;
}

.custom-container.checkout .card.order-summary-cont .card-header .order-sum-heading {
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: var(--black);
  font-family: var(--secondary-font);
  letter-spacing: 0.01em;
}

.custom-container.checkout .card .cart-login-cont {
  background-color: #ededed;
  border-radius: 0 0 0.5rem 0.5rem;
}

.custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-price {
  font-size: 15px;
  font-weight: 500;
  font-family: var(--primary-font-font);
  color: var(--black);

}

.custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc {
  color: var(--black);
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc .qty {
  text-transform: uppercase;
}

.custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-img {
  border-radius: 0.1875rem;
  overflow: hidden;
  min-width: 83px;
  width: 83px;
}

.custom-container.checkout .order-totals-container {
  background-color: #EDEDED !important;
  color: var(--black);
}

.order-totals-container .total-holder .total-price,
.order-totals-container .total-holder .order-total-item .total-desc,
.order-totals-container .sub-total-holder .sub-total-item .sub-price,
.order-totals-container .sub-total-holder .sub-total-item .sub-total-desc {
  font-weight: normal !important;
  font-size: 1.125rem !important;
  line-height: 1.375rem !important;
}

.order-totals-container .sub-total-holder .sub-total-item {
  padding-bottom: 1.25rem;
}

.custom-container.checkout .order-totals-container .sub-total-holder {
  border-bottom: 0.0625rem solid #D9D9D9 !important;
}

.order-totals-container .total-holder {
  font-weight: 400;
  padding-top: 0;
}


app-footer-checkout {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 32px;
  display: block;
}

app-footer-checkout .ts-copyright * {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #212322;
  text-decoration: none;
}

header .mob-top-links .cart-qty {
  background-color: var(--black) !important;
  color: #fff;
  font-size: 0.6rem;
  font-family: var(--primary-font);
  padding-top: 1.22px;
}

header.header .head-links li .cart-qty {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--black) !important;
  font-family: var(--primary-font) !important;
}

.custom-container.checkout .delivery-methods-cont .vendor-cards-holder .card .card-header .vendor-title {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: var(--secondary-font) !important;

}

.custom-container.checkout .order-totals-container .promo-cont a {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #212322;
  text-decoration: none;
  font-family: var(--primary-font) !important;

}

.custom-container.checkout .order-totals-container .form-group.pt-4.mb-0.d-none {
  display: block !important;
}

.payment-form-container .payment-form-container .card {
  /* display: none; */
}

.payment-form-container .checkbox-cont input:checked~.checkmark {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: var(--white) !important;
}

.payment-form-container .card.blue-light-bg,
.payment-form-container .input-cont,
.payment-form-container .password-note.pt-2.mt-1 {
  display: none !important;
}

.payment-form-container .section-cont {
  border-bottom: none !important
}

.payment-form-container .payment-form-container .card {
  border: none !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 0 !important;
  box-shadow: none !important;
  background: transparent !important;
}

.payment-form-container .payment-form-container .col-12.px-0.pt-4,
.payment-form-container .payment-form-container .col-12.px-0.pt-4 .form-group.pt-1,
.payment-form-container .payment-form-container .col-12.px-0.pt-4 .form-group.pt-2 {
  padding: 0 !important;
}

.payment-form-container .col-12.px-0.payments-methods-cont.pb-2,
.payment-form-container .show-pay-details {
  display: none !important;
}

/* ====== MEDIA QUERY ====  */
@media (max-width:1199px) {
  header.header .menu-holder>li {
    margin-right: 30px;
  }

  header.header .menu-holder li a {
    font-size: 15px;
    line-height: 14px;
  }

  .home-banner .banner-heading>div {
    font-size: 30px;
    line-height: 33px;
  }

  .home-slider .carousel-container {
    padding: 1.4rem 0px 15px !important;
  }

  .bestsellers-slider~.home-slider .owl-item.active {
    max-width: 100%;
  }

  .bestsellers-slider~.home-slider .owl-item.active {
    max-width: 100%;
  }

  .sign-up-section .sign-up-container .sign-up-form .submit {
    padding: 18px 33px !important;
  }

  .sign-up-section .sign-up-container .sign-up-form {
    max-width: 510px;
  }

  .vendor-items-holder .vendor-items .ng-star-inserted .item-image-cont {
    max-width: 110px;
    min-width: 105px;
    margin-right: 10px !important;
  }

  .col.px-0.product_item {
    max-width: 200px;
  }

  .custom-container.cart-container .cart-item.new .mr-2.ng-tns-c6-0.ng-star-inserted,
  .custom-container.cart-container .cart-item.new .mr-2.ng-tns-c6-1.ng-star-inserted {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    font-family: var(--primary-font) !important;
    color: var(--black);
    margin-right: 7px !important;
  }

  .custom-container.cart-container .card.order-summary-cont {
    max-width: 320px;
    width: 320px;
  }

  .cart-login-cont .guest-form-cont .panel-after-checkout {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .custom-container.cart-container .cart-login-cont .btn.btn-primary {
    padding: 15px 21px;
    font-size: 12px;
    line-height: 16px;
  }


}

@media (max-width:991px) {
  header.header .logo {
    text-align: center;
  }

  .home-banner .banner-heading {
    width: 75%;
  }

  .pay-methods-avail {
    justify-content: start !important;
  }

  .footer .footer-widget .widget-content .social-links {
    justify-content: start !important;
  }

  .footer .footer-widget .widget-content .social-links li {
    margin: 0 17px 1rem 0px;
    width: max-content;
  }

  .home-slider .post-tile {
    position: relative;
  }

  .sign-up-section .sign-up-container .signup-text p {
    width: 75%;
    margin: auto;
  }

  .products-container .products-holder-main .products-holder {
    justify-content: center;
  }

  .products-container .products-holder-main .products-holder .product-column {
    width: 218px;
  }

  .fake_div {
    width: 218px !important;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title .product-name {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
    margin-right: 10px;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
    font-size: 15px;
    line-height: 16px;
    padding-left: 30px;
  }

  .product-detail-container .product-holder .product-detail,
  .product-detail-container .product-order {
    padding-left: 40px;
    padding-right: 40px;
  }

  body[data-pagetype="product"] {
    overflow-x: hidden;
  }

  .related-products .related-products-holder {
    justify-content: center;
  }

  .custom-container.cart-container .card.order-summary-cont {
    max-width: 100%;
    width: 100%;
  }

  .pr-0.col.subtotal_item {
    max-width: fit-content;
    display: flex;
    align-items: center;
    grid-column-gap: 25px;
  }

  .custom-container.cart-container .ng-star-inserted .col-12.px-0.d-flex .item-image-cont {
    width: 100%;

  }


}

@media (max-width:767px) {
  .d-none.mob-custom-carosel {
    display: block !important;
  }

  .sign-up-section .sign-up-container {
    width: 100%;
  }

  .sign-up-section .sign-up-container .signup-text {
    width: 100%;
  }

  .bestsellers-slider~.home-slider .post-tile h2.post-link {
    font-size: 15px;
    line-height: 15px;
    padding-left: 8px;
  }

  .home-slider .post-tile h2.post-link {
    font-size: 15px;
    line-height: 15px;
    margin: 10px auto 0;
  }

  .home-slider .post-tile {
    max-width: 11rem;
    margin-bottom: 1.5rem;
  }

  .home-slider .carousel-container {
    justify-content: center;
    grid-column-gap: 25px;
  }

  .sign-up-section .sign-up-container .sign-up-form {
    width: 95%;
    position: relative;
  }

  .sign-up-section .sign-up-container .sign-up-form .submit {
    position: absolute;
    right: 0;
    bottom: 0;
    translate: 0% 0%;
    margin: 0 !important;
  }

  .sign-up-section .sign-up-container .signup-text p {
    margin-bottom: 10px;
  }

  .footer .copyright-cont .pay-methods-avail .meth-link {
    width: 40px;
    margin-right: 10.5px;
  }

  .custom-container.cart-container .cart-item.new .mr-2.ng-tns-c6-0.ng-star-inserted,
  .custom-container.cart-container .cart-item.new .mr-2.ng-tns-c6-1.ng-star-inserted {
    display: none;
  }

  .pr-0.col.subtotal_item {
    flex-direction: column;
  }

  .cart-item.new .item-details .unit-total-price {
    font-size: 1.125rem !important;
    line-height: 1.375rem !important;
  }

  .cart-item .item-details .col-label.mb-2 {
    font-size: 1rem;
    line-height: 1.1875rem;
  }

  .cart-item.new .item-qty-cont {
    border: 0.0625rem solid #E6E8ED;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }

  .custom-container.cart-container .vendor-items-cont .cart-item.new a {
    font-size: 14px;
    line-height: 16px;
  }

  .vendor-items-holder .unit-price {
    font-weight: 400;
    font-size: 12px !important;
    line-height: 16px;
    font-family: var(--primary-font) !important;
    color: var(--dark-gray) !important;
  }

  .vendor-items-holder .vendor-items .gift-msg-area a span.underline {
    font-size: 12px;
    line-height: 16px;
  }

  .custom-container.cart-container .cart-item.new .item-details .item-name {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 5px;
  }

  .custom-container.cart-container .vendor-items-cont .card .card-header .vendor-heading {
    font-size: 0.9375rem;
    line-height: 1.125rem;
  }

  .custom-container.cart-container .vendor-items-cont .card {
    margin-bottom: 0.5rem !important;
  }

  .arrow-breadcrumbs li.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 0.5rem;
  }

  .custom-container.cart-container .vendor-items-holder {
    padding-bottom: 0;
  }

  .custom-container.cart-container .vendor-items-cont .card .card-body {
    padding-bottom: 0px !important;
  }

  .cart-right-cont.ng-star-inserted {
    margin: auto;
  }

  .col.px-0.product_item {
    min-width: fit-content;
  }
}

@media (max-width:620px) {
  .home-banner .banner-heading {
    width: 95%;
    top: 30%;
  }

  .home-banner .banner-heading>div {
    font-size: 25px;
    line-height: 29px;
  }

  .sign-up-section .sign-up-container .sign-up-form input[type="email"] {
    padding: 0.65rem 0.45rem;
  }

  .sign-up-section .sign-up-container .sign-up-form .submit {
    width: 125px;
    padding: 8px 20px !important;
  }

  .sign-up-section {
    padding: 0px 10px;
    padding-bottom: 30px;
  }

  .powered-by .powered-link-cont span {
    font-size: 14px;
  }

  .powered-by .powered-link-cont a {
    font-size: 15px;
  }

  .related-products .related-products-holder .rel-product-col {
    width: 45%;
  }

  .related-products .related-products-holder .related-products-image {
    height: 210px;
  }

  .related-products .related-products-holder .product-content .product-rating {
    margin-right: 8px;
  }

  .related-products .related-products-holder .product-content .product-title a {
    font-size: 14px;
    line-height: 25px;
  }

  .related-products .related-products-holder .product-content .product-pricing .more-items-product-prices {
    font-size: 15px;
    line-height: 6px;
    padding-left: 26px;
  }


}

@media (max-width:540px) {
  .products-container .products-holder-main .products-holder .product-column {
    width: 45%;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    height: 200px;
  }

  .product-detail-container .product-holder .product-detail,
  .product-detail-container .product-order {
    padding-left: 0px;
    padding-right: 0px;
  }

  .cart-item.new .item-details .unit-total-price {
    font-size: 14px !important;
    line-height: 16px !important;
  }

  .custom-container.cart-container .cart-item.new .item-details .item-name {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
  }

  .vendor-items-holder .vendor-items .ng-star-inserted .item-image-cont {
    max-width: 90px;
    min-width: 85px;
    margin-right: 8px !important;
  }

  .cart-item .item-details .col-label.mb-2 {
    font-size: 14px !important;
  }

}

@media (max-width:500px) {
  .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title .product-name {
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.01em;
    font-weight: 500;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
    margin-right: 7px;
    width: 14px;
  }

  .products-container .products-holder-main .products-holder .product-column {
    margin: 0 5px;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
    font-size: 12px;
    line-height: 12px;
    padding-left: 22px;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing {
    padding-top: 0rem !important;
  }

  .fake_div {
    width: 45%;
  }

  .shipping-form-container input[type='text'],
  .shipping-form-container input[type='email'],
  .shipping-form-container input[type='password'] {
    height: 42px !important;
  }

  .custom-container.checkout .shipping-form-container .form-control {
    font-size: 14px !important;
  }

  .address-form.new .form-group {
    margin-bottom: 1rem;
  }

  .custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-img {
    margin-right: 6px !important;
  }

}

@media (max-width:420px) {
  .home-banner .banner-heading>div {
    font-size: 20px;
    line-height: 22px;
  }

  .home-slider .post-tile {
    max-width: 95%;
    margin-bottom: 1.2rem;
  }

  .bestsellers-slider~.home-slider {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .bestsellers-slider~.home-slider .post-tile h2.post-link {
    font-size: 22px;
    line-height: 22px;
    padding-left: 8px;
  }

  .home-banner .banner-heading>div:last-child {
    font-size: 18px !important;
    margin-top: 14px;
  }

  header.header .logo {
    margin-left: 25px;
  }

  .section-title {
    margin: 20px 0 0;
    font-size: 24px;
    line-height: 28px;
  }

  .sign-up-section .sign-up-container .signup-text p {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 21px;
  }

  .powered-by {
    position: static;
    right: 0px;
    text-align: start !important;
    margin-top: 10px;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-image {
    height: 160px;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-title .product-name {
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0px;
    font-weight: 500;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-rating {
    margin-right: 5px;
    width: 12px;
  }

  .products-container .products-holder-main .products-holder .product-column .product-list .product-content .product-pricing p {
    font-size: 11px;
    line-height: 12px;
    padding-left: 17px;
  }

  .product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link h4 {
    font-size: 12px;
  }

  .product-detail-container .product-holder .product-detail .product-info .info-holder {
    margin: 0.875rem 0 0.125rem;
  }

  .product-detail-container .product-holder .product-detail {
    margin-bottom: 0rem;
  }

  .product-detail-container .product-holder .product-detail .product-info .product-heading h1 {
    font-size: 22px;
    line-height: 20px;
  }

  .product-detail-container .product-holder .product-detail .product-info .product-pricing .price-reviews p {
    font-size: 15px;
    line-height: 15px;
  }

  .product-detail-container .product-holder .product-detail .product-info .product-heading .product-rating a.wishlistImage img {
    width: 22px;
  }

  .product-detail-container .product-holder .product-order .nav-tabs .nav-item .nav-link {
    padding: .4rem 0rem;
  }

  .related-products .related-products-holder .related-products-image {
    height: 150px;
  }

  .related-products .related-products-holder .product-content .product-rating a.wishlistImage img {
    max-width: 14px;
    max-height: 14px;
  }

  .related-products .related-products-holder .related-products-image {
    height: 145px;
    margin: 0 0 8px;
  }

  .related-products .related-products-holder .rel-product-col {
    margin: 0 4px;
  }

  body[data-pagetype="product"] .product-detail-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .related-products {
    padding: 0px 0 10px;
  }

  .product-detail-container .personalise-form .form-group.add-basket {
    margin: 15px 0 0;
  }

  .product-detail-container .add-to-basket-cont .d-flex.pb-4 {
    padding-bottom: 0px !important;
  }

  .product-detail-container .personalise-form .form-group .order-input {
    height: 45px;
    width: 18%;
  }

  .product-detail-container .personalise-form .form-group .order-btn {
    height: 45px;
    width: 80%;
  }

  .select-package {
    height: 45px !important;
    margin-bottom: 18px;
    margin-top: 10px;
  }

  .custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-img {
    border-radius: 5px;
    overflow: hidden;
    min-width: 60px !important;
    width: 65px !important;
  }

  .custom-container.checkout .order-summary-container .vendor-items-holder .vendor-order-details .order-item .item-desc {
    font-size: 13px;
    line-height: 1.125rem;
  }

  .order-totals-container .total-holder .total-price,
  .order-totals-container .total-holder .order-total-item .total-desc,
  .order-totals-container .sub-total-holder .sub-total-item .sub-price,
  .order-totals-container .sub-total-holder .sub-total-item .sub-total-desc {
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 1.375rem !important;
  }

  .custom-container.checkout .shipping-form-container .btn.btn-submit,
  .custom-container.checkout .btn.btn-primary {
    font-size: 13px;
    line-height: 12px;
  }

}
